{{define "title"}}mineradmin / Admins / Password{{end}}

{{define "content"}}

<h1>
    <a href="/">mineradmin</a> /
    <a href="/admins">Admins</a> /
    Password
</h1>

Password: <b>{{.}}</b>

{{end}}