{{define "title"}}mineradmin / Login{{end}}

{{define "content"}}

<h1><a href="/">mineradmin</a> / Login</h1>

<form method="POST" action="/login">
    <label for="login">Login:</label>
    <input id="login" type="text" name="login" placeholder="Type login"/>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password"
           placeholder="Type password"/>
    <input type="hidden" name="path" value="{{.Path}}"/>
    <input type="hidden" name="csrf-token" value="{{.CSRFToken}}"/>
    <button type="submit">Login</button>
</form>

{{end}}